<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ society }} - {{ catchphrase }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/one-page-wonder.min.css') }}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">{{ society }}</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="realisations">Réalisations</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="contact">Contact</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>

    <header class="masthead text-center text-white" style='height:20px;background-color:a8224a'>
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">{{ society }}</h1>
        </div>
      </div>
    </header>
    <section>
<br/>
    <section>
      <div class="container">
        <h2>Formulaire de contact</h2>
        {% if success %}
          <p>Message correctement envoyé</p>
        {% else %}
          {{ form_start(form) }}
            <div class="form-group">
              <label for="email">Email</label>
              {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
              <label for="content">Message</label>
              {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}, 'label': 'Envoyer'}) }}
          {{ form_end(form) }}
        {% endif %}

      </div>
    </section>
    <br/>

    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small">Contact : <a href="mailto:{{ contact }}">{{ contact }}</a></p>
        <p class="m-0 text-center text-white small">Copyright &copy; {{ society }} {{ "now"|date("Y") }}</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  </body>

</html>
