<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ society }} - {{ catchphrase }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/one-page-wonder.min.css') }}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">{{ society }}</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="realisations">Réalisations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact">Contact</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>

    <header class="masthead text-center text-white" style='background-color:a8224a
    {# background-image: url("{{ asset('img/top.jpg') }}"); #}
    '>
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">{{ society }}</h1>
          <h2 class="masthead-subheading mb-0">{{ catchphrase }}</h2>
        </div>
      </div>
    </header>

    <section>
      <div class="container">
        <div class="row align-items-center text-center">
          <div class="col-lg-12 order-lg-1">
            <div class="p-5">
              <p style="font-size:20px">{{ description }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>


{% for item in items %}
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="{{ asset('img/' ~ item.image) }}" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">{{ item.title }}</h2>
              <p>{{ item.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endfor %}

    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small">Contact : <a href="mailto:{{ contact }}">{{ contact }}</a></p>
        <p class="m-0 text-center text-white small">Copyright &copy; {{ society }} {{ "now"|date("Y") }}</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  </body>

</html>
